.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px lightblue;
}
.heading_div {
    float: none;
    background: whitesmoke;
    padding: 10px;
    border-radius: 20px;
    color: black;
    font-weight: bolder;
    box-shadow: 5px 5px 5px lightblue;
}
.heading_div2 {
    font-size: 20px;
}
.result_tag {
    box-shadow: 5px 5px 5px lightblue;
    font-size: 20px;
}
.copyright_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 20px;
}

canvas {
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px lightblue;
    margin-top: 150px;
}